body {
    background-color: white;
	cursor: default;
}

button{
    position: absolute;
    z-index: 3;
	background-color: transparent;
	height:45px;
}


.buttonRL{
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
}
canvas{
	margin-left: -18px;
	border-style: solid;
}

div {
    -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
    -moz-column-gap: 40px; /* Firefox */
    column-gap: 40px;
}
svg{
    position: absolute;
    z-index: 6;
	background: transparent;
	left:5px;

	top:5px;
}
buttonUp{
    position: absolute;
    z-index: 6;
}

.title1{
	background-color: red;
}

.title2{
	background-color: green;

}

.title3{
	background-color: blue;
}
