body {
    background-color: white;
}

canvas{
	background-color: red;
	margin-left: -15px;
}

#mjpegCamera1{
	background-color: red;
	height: 480px;
	width: 640px;
}

#mjpegCamera2{
	background-color: green;
	height: 480px;
	width: 640px;
}

#mjpegLeftForearm{
	background-color: blue;
	height: 300px;
	width: 300px;
}
