<?xml version="1.0" ?>
<robot name="ball">
  <link name="ball__link">
    <inertial>
      <mass value="0.02"/>
      <origin rpy="0  0  0" xyz="0  0  0"/>
      <inertia ixx="3.96e-09" ixy="0" ixz="0" iyy="3.96e-09" iyz="0" izz="3.96e-09"/>
    </inertial>
    <collision name="ball__collision">
      <origin rpy="0  0  0" xyz="0  0  0"/>
      <geometry>
        <sphere radius="0.0375"/>
      </geometry>
    </collision>
    <visual name="ball__visual">
      <origin rpy="0  0  0" xyz="0  0  0"/>
      <geometry>
        <sphere radius="0.0375"/>
      </geometry>
    </visual>
  </link>
</robot>
