<?xml version="1.0" ?>
<robot name="cube_s">
  <link name="cube_s__link">
    <inertial>
      <mass value="0.0073"/>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <inertia ixx="7.604166666666669e-07" ixy="0" ixz="0" iyy="7.604166666666669e-07" iyz="0" izz="7.604166666666669e-07"/>
    </inertial>
    <collision name="cube_s__collision">
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <box size="0.025 0.025 0.025"/>
      </geometry>
    </collision>
    <visual name="cube_s__visual">
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <box size="0.025 0.025 0.025"/>
      </geometry>
      <material name="Yellow">
        <color rgba="1.0 1.0 0.0 1.0"/>
      </material>
    </visual>  
  </link>
</robot>