<?xml version="1.0"?>

<model>
  <name>Ragdoll</name>
  <version>1.0</version>
  <!--<sdf version="1.4">ragdoll_cylinderleg_50_accurate.sdf</sdf>-->
  <sdf version="1.4">model.sdf</sdf>-->
  <!--<sdf version="1.4">correct_ragdoll_original_accurate_cylin.sdf</sdf>-->

  <author>
    <name>Kevin Chow</name>
    <email>kchow7@gatech.edu</email>
  </author>

  <description>
    cRoNA main model file
  </description>
</model>