<?xml version="1.0"?>
<launch>
  <arg name="use_rviz" default="true" />

  <!-- launch rviz with config/access_teleop_config.rviz -->
  <node pkg="rviz" type="rviz" name="rviz"
      args="-d $(find access_teleop)/config/access_teleop_config.rviz"
      if="$(arg use_rviz)" />

  <node pkg="access_teleop" output="screen" name="gripper_teleop" type="fetch_access_teleop.py" />

</launch>
