<?xml version="1.0"?>
<launch>
  <arg name="use_rviz" default="true" />

<!-- Launch Gazebo -->
  <include file="$(find gazebo_ros)/launch/pr2_empty_world.launch" />

<!-- Launch Moveit! -->
  <include file="$(find pr2_moveit_config)/launch/move_group.launch" />
  
<!-- Launch the web server -->
  <node pkg="web_video_server" type="web_video_server" name="web_video_server_node" />

<!-- Launch the rosbridge server -->
  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" />

  <!-- launch rviz with config/access_teleop_config.rviz -->
  <node pkg="rviz" type="rviz" name="rviz"
      args="-d $(find access_teleop)/config/access_teleop_config.rviz"
      if="$(arg use_rviz)" />
	
  <!-- launch the point cloud saver to allow point cloud freezing -->
  <node pkg="access_teleop" name="pointcloud_saver" type="access_pointcloud_pub.py" />

<!-- Launch the access_teleop node -->
  <node pkg="access_teleop" output="screen" name="gripper_teleop" type="pr2_access_teleop.py" />

</launch>

