/* General Layout */
body * {
    text-align: center;
    margin: auto;
    font-family: system-ui;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 1.2em;
}

button {
    font-size: 1em;
    border: none;
    background-color: #cecece;
    padding: 0.6em;
    margin: 0.3em;
    cursor: pointer;
}

button:active {
    filter: invert(100%);;
}

/* Status bar */
#status_bar {
    margin-top: 1em;
    color: #309cf0;
}

/* Container Layout */
#cameras, #main_panel, #general_ctrl {
    margin: 2em;
}

#main_ctrl {
    margin: 0;
}

/* Camera Layout */
#cameras, #camera_small, #main_panel, #action_step_container, #record_step_container {
    display: grid;
}

#cameras {
    position: relative;
    grid-template-columns: repeat(5, 1fr);
}

#camera_small {
    grid-column-start: 2;
    grid-template-rows: repeat(3, 1fr);
}

/* Control Layout */
#general_ctrl button {
    width: 15%;
}

#main_panel {
    grid-template-columns: 0.1fr 1fr;
}

#main_panel button {
    width: 90%;
}

#action_step_container {
    grid-template-columns: repeat(4, 1fr);
}

#action_step_container button, #record_step_container button {
    background-color: #b6daf9;
}

#action_step_container div, #record_step_container div {
    margin: 0;
    width: 100%;
}

.dropdown button {
    width: 100%;
}

#record_step_container {
    grid-template-columns: repeat(6, 1fr);
}

#run_btn, #reset_btn {
    background-color: #F6B37E !important;
}

#estop_btn {
    background-color: #f67e85 !important;
}

.status {
    height: 5em;
    margin: 0.5em;
}

.sub_go_btn, #edit_traj_btn {
    background-color: #ffe4ca !important;
    width: 40% !important;
}

.base_arrow {
    position: absolute;
    padding: 0.3em;
    margin: 0;
    width: 40px;
    height: 40px;
}

/* Dropdown Button Layout */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown_content {
    display: none;
    position: absolute;
    background-color: #e5e5e5;
    max-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left: 5% !important;
}

/* links inside the dropdown */
.dropdown_content a {
    color: black;
    padding: 0.5em 0.6em;
    text-decoration: none;
    display: block;
}

/* change color of dropdown links on hover */
.dropdown_content a:hover {
    background-color: #ddd;
}

/* show the dropdown menu on hover */
.dropdown:hover .dropdown_content {
    display: block;
}

/* change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #f8cca9 !important;
}

/* Popup window */
#disable_div {
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: black;
    z-index: 1;
    display: none;
}

#record_btn_confirm, #edit_traj_popup {
    background-color: #FDF8E0;
    border-style: solid;
    border-width: 0.2em;
    border-color: #ffa98c;
    padding: 2em;
    margin: auto;
    z-index: 2;
    position: fixed;
}

#record_btn_confirm {
    left: 50%;
    transform: translateX(-50%);
    top: 12%;
}

#record_btn_confirm p, #edit_traj_popup p {
    margin-bottom: 1em;
}

#record_btn_confirm button, #edit_traj_popup button {
    background-color: #999999;
    margin: 1em;
    padding-left: 1em;
    padding-right: 1em;
    color: white;
}

#edit_traj_popup {
    max-height: 30%;
    left: 50%;
    transform: translateX(-50%);
    top: 60%;
    overflow: scroll;
    max-width: 80%;
}

.point {
    color: black !important;
    border-radius: 50%;
}

/* Arrow buttons */
#camera_large {
    position: relative;
}

.arrow {
    position: absolute;
    padding: 0.3em;
    margin: 0;
    width: 40px;
    height: 40px;
    display: none;
}

.arrow:hover {
    cursor: pointer;
}

#up_btn, #down_btn {
    left: 50%;
    transform: translateX(-50%);
}

#left_btn, #right_btn {
    top: 50%;
    transform: translateY(-50%);
}

#up_btn {
    top: 1em;
}

#down_btn {
    bottom: 0;
}

#left_btn {
    left: 0;
    padding-left: 0;
}

#right_btn {
    right: 0;
    padding-right: 0;
}
