<?xml version="1.0"?>
<launch>
	<!-- true: use trajectory playback; false: use pose offset (not supported in the current version) -->
	<param name="use_traj" value="true" />
	<!-- true: show console output; false: suppress console output -->
	<param name="console_output" value="false" />
	<!-- true: use SAKE gripper urdf in the planning scene -->
	<param name="use_urdf" value="true" />
	<!-- true: use the finger urdf of SAKE gripper as well as the palm urdf in the planning scene; 
	false: only use the palm urdf of SAKE gripper in the planning scene -->
	<param name="use_finger_urdf" value="false" />

	<!-- the threshold to distinguish joint state points -->
	<param name="arm_traj_threshold" value="0.5" />

	<node pkg="web_video_server" type="web_video_server" name="web_video_server_node" />
	<include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" />

	<node pkg="limb_manipulation" type="limb_pbd_web_node.py" name="limb_pbd_web_node" output="screen"/>
</launch>
