body {
  background-color: white;
	cursor: default;
}

button{
  position: absolute;
  z-index: 4;
	background-color: transparent;
  margin-left: 5px;
}

#rotate{
  vertical-align:top;
  transform:rotate(7deg);
  -ms-transform:rotate(-90deg); /* IE 9 */
  -moz-transform:rotate(-90deg); /* Firefox */
  -webkit-transform:rotate(-90deg); /* Safari and Chrome */
  -o-transform:rotate(-90deg); /* Opera */
  }


input{
  cursor:pointer;
  min-height:30px;
  position:relative;

}

.card {
    /* Add shadows to create the "card" effect
    box-shadow: 0 2px 1px 0 rgba(0,0,0,0.2);
    transition: 0.3s; */
}

/* On mouse-over, add a deeper shadow */
card-block:hover {

	background-color: pink;
}

canvas{
	/*border-style: solid; */

  margin-left: -4px;
  margin-right: 0px;

}

.row.no-gutter {
  margin-left: -18px;
  margin-right: 0px;
}

.row.no-gutter [class*='col-']:not(:first-child),
.row.no-gutter [class*='col-']:not(:last-child) {
  padding-right: 10px;
  padding-left: 4px;
}

svg{
  position: absolute;
  z-index: 6;
  background: transparent;
  height:inherit;
  width:inherit;
}

.title1{
	background-color: red;
}

.title1:hover, .title2:hover, .title3:hover{
	background-color: yellow;
}

.title2{
	background-color: green;

}

.title3{
	background-color: blue;
}

.cam-container{
  float:left;
  padding-left:10px;
  padding-right:10px;
  padding-bottom: 10px;
}

#gripper-container{
	width:20em;
	margin-left:10em;
}

.ui-slider .ui-slider-handle {
	height:2.4em;
}

.joystick-container{
  position:relative;
}

circle {
    opacity:0.5;
}

div {
    /*border-style: dotted;*/
}

/* Added by Xinyi */
#input_panel {
  display: grid;
  grid-template-columns: 1fr 1fr;  
  margin-top: 2em;
}

#task_buttons button, #head_buttons button, #freeze_buttons button {
  position: relative;
  padding: 15px;
  margin: 20px;
}

table {
  width: 50em;
}